body{  font-family:"Avenir Next";
color: white;
}

li{list-style: none;
float: left;
padding: 0px 15px}

.header{
  background-color: #DEB887;
  height:50px;
 margin: 0 auto;}
.header-logo{
  float: left;
  font-size: 30px;
  padding: 5px 10px ;}


.main{
  color: #DEB887;
height: 2000px;
margin:0 auto;
}
.copy-container h1{
  font-size: 40px;
  width: 100px;

}
.copy-container h2{
  border-bottom: 1px solid #DEB887;
  font-size: 20px;
}
.copy-container img{
  width: 100px;

}
.copy-container span{
  color: #FF4F50;
}
.contents img{
width: 100px;
}
.contents-item{
  float: left;
  margin-right:40px;
  padding: 50px;
}
.contact-form{

  float: left;
  margin: 0 auto;

}
input,textarea{
  width: 200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  font-size:15px;
  border:1px solid #black;
  }
  .contact-submit{
    background-color: #D3D3D3;
  }

.footer{
  background-color: #DEB887;
  height:50px;
 margin: 50px}
.footer-logo{
  float: left;
  font-size: 30px;
  padding: 5px 20px ;}
.footer-list{
  float: right;
  padding: 0px 20px;}
